{{#each courses}}

    <div class='course'>
        <h2>{{name}}</h2>
        <p>{{description}}</p>
        <a href='/courses/{{this.slug}}'>
            <img src='{{image}}' alt='' />
        </a>
        <a href='/courses/{{_id}}/edit' class='btn btn-link'>Sửa</a>
        <a href='' class='btn btn-link'>Xóa</a>
    </div>

{{/each}}
